# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @jakubdyszkiewicz @lobkovilya @nickolaev @subnetmarco @austince @bartsmykla @lahabana @jpeach @michaelbeaumont @parkanzky @Icarus9913 
